<div> all the bugs </div>
<ul>
<% @bugs.each do |bug| %>
  <li>
  <div>
    <p><a href="bug<%= bug.id.to_s %>"><%= bug.title %></p></a>
    <p><%= bug.description %></p>
  </div>
  </li>
<% end %>
</ul>
